body {
  line-height: 1.5;
}

.dashboard-container {
  margin: 10px;
}

.app-title {
  padding: 10px;
  background: linear-gradient(135deg, navy 60%, cyan);
  text-align: center;
  color: white;
}

button {
  margin-top: 10px;
  background-color: navy;
  justify-content: center;
}

.no-border {
  border-style: none;
}

input,
form {
  display: block;
  width: 100%;
}

.previous-searches {
  padding-right: 10px;
}

.current-forecast {
  padding-left: 4px;
  margin-right: 20px;
}

.day {
  background: navy;
  color: white;
  padding: 4px;
  margin-bottom: 10px;
}

.forecast {
  text-align: center;
  margin-top: 20px;
}

.margin-right {
  margin-right: 20px;
}

.forecast-container {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.current-weather-icon {
  width: 100px;
  height: 100px;
}

.current-forecast {
  display: flex;
}
